.header {
  position: fixed;
  width: 100%;
  background: #e77817;
  top: 0;
  opacity: 0.95;
}

.header-logo {
  float: left;
  display: inline;
  width: 217px;
  height: 44px;
  padding: 0 20px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 44px;
}

.header-nav-item {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: #fffcc8;
  font-weight: bold;
}
